[Unit]
Description=ADS-B Hub data feeder
After=network.target rc-local.service dump1090.service
Requires=dump1090.service
Wants=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/adsbhub.sh
Restart=always
RestartSec=5
StartLimitInterval=60
StartLimitBurst=3
User=lg
Group=lg
WorkingDirectory=/usr/local/bin
StandardOutput=journal
StandardError=journal
SyslogIdentifier=adsbhub

[Install]
WantedBy=multi-user.target
